<!DOCTYPE html>
<html lang="<%=translation.CURRENT_LANGUAGE%>">
<link rel="alternate" href="https://www.itasaubc.ca/" hreflang="x-default"/>
<link rel="alternate" href="https://www.itasaubc.ca/?l=<%=translation.OTHER_LANGUAGE%>/" hreflang="<%=translation.OTHER_LANGUAGE%>"/>
<head>
  <title><%=translation.HEADER_TITLE%></title>
  <meta charset="utf-8">
  <meta name="author" content="<%=translation.HEADER_AUTHOR%>">
  <meta name="description" content="<%=translation.HEADER_DESCRIPTION%>"/>
  <meta name="keywords" content="AMS UBC italian student association associazione studentesca italiana vancouver canada university of british columbia università della columbia britannica"/>

  <meta property="og:image" content="http://www.itasaubc.ca/images/itasa-logo-square.png" />

  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <link rel="icon" type="image/ico" href="/images/itasa-icon.ico">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js" async defer></script>
</head>
<body>
<%- body %>
</body>
</html>
