<!--  fixed header  -->
<div class="animated">
    <header class="header_fixed">
        <div class="wrapper clearfix">
            <a href="/?l=<%=translation.CURRENT_LANGUAGE%>"><img src="/images/itasa-logo-white.png" alt="" title="" class="header_logo"/></a>
            <a href="/?l=<%=translation.OTHER_LANGUAGE%>"><img src="/images/icon-<%=translation.OTHER_LANGUAGE%>.png" alt="en_ca" class="header_lang_icon"></a>
            <nav class="clearfix">
                <ul>
                    <li><a href="#about"><%=translation.MENU_ITEM_1%></a></li>
                    <li><a href="#story"><%=translation.MENU_ITEM_2%></a></li>
                    <li><a href="#executives"><%=translation.MENU_ITEM_3%></a></li>
                    <li><a href="#alumni"><%=translation.MENU_ITEM_4%></a></li>
                    <li><a href="#partners"><%=translation.MENU_ITEM_5%></a></li>
                    <li><a href="#contact"><%=translation.MENU_ITEM_6%></a></li>
                </ul>
                <a href="" class="hamburger fixed_nav" id="sticky_menu">
                    <span class="top"></span>
                    <span class="middle left"></span>
                    <span class="middle right"></span>
                    <span class="bottom"></span>
                </a>
            </nav>
        </div>
    </header>
</div>
<!--  end fixed header  -->

<!--  start billboard  -->
<section class="billboard">

    <!--  hero header  -->
    <header class="hero_header">
        <div class="wrapper clearfix">
            <a href="/?l=<%=translation.CURRENT_LANGUAGE%>"><img src="/images/itasa-logo-grey.png" alt="" title="" class="header_logo"/></a>
            <a href="/?l=<%=translation.OTHER_LANGUAGE%>"><img src="/images/icon-<%=translation.OTHER_LANGUAGE%>.png" alt="en_ca" class="header_lang_icon"></a>
            <nav class="clearfix">
                <ul>
                    <li><a href="#about"><%=translation.MENU_ITEM_1%></a></li>
                    <li><a href="#story"><%=translation.MENU_ITEM_2%></a></li>
                    <li><a href="#executives"><%=translation.MENU_ITEM_3%></a></li>
                    <li><a href="#alumni"><%=translation.MENU_ITEM_4%></a></li>
                    <li><a href="#partners"><%=translation.MENU_ITEM_5%></a></li>
                    <li><a href="#contact"><%=translation.MENU_ITEM_6%></a></li>
                </ul>
                <a href="" class="hamburger hero_nav" id="sticky_menu">
                    <span class="top"></span>
                    <span class="middle left"></span>
                    <span class="middle right"></span>
                    <span class="bottom"></span>
                </a>
            </nav>
        </div>
    </header>
    <!--  end hero header  -->

    <div class="caption">
        <h2><%=translation.WELCOME_MESSAGE%></h2>
    </div>
    <div class="button">
        <a class="btn btn-primary" href="/register/?l=<%=translation.CURRENT_LANGUAGE%>"><%=translation.MAILING_LIST_BUTTON%></a>
    </div>
    <!--  <img src="/images/scroll.png" alt="scroll" title="Scroll Down" class="scroll">  -->
</section>
<!--  end billboard  -->


<!--  start about  -->
<section class="about" id="about">
    <div class="wrapper clearfix">
        <h2 class="title"><%=translation.SECTION_1_TITLE%><span></span></h2>
        <div class="about_img"><img src="/images/itasa-logo-round.png" alt=""></div>
        <p class="about_txt"><%=translation.SECTION_1_TEXT%></p>
        <article>
            <div class="about_icon">
                <img src="/images/s1.png" alt="" title=""/>
            </div>
            <div class="about_info">
                <h3 class="about_title"><%=translation.SECTION_1_SUBSECTION_1_TITLE%></h3>
                <p class="about_desc"><%-translation.SECTION_1_SUBSECTION_1_TEXT%></p>
            </div>
        </article>

        <article>
            <div class="about_icon">
                <img src="/images/s2.png" alt="" title=""/>
            </div>
            <div class="about_info">
                <h3 class="about_title"><%=translation.SECTION_1_SUBSECTION_2_TITLE%></h3>
                <p class="about_desc"><%=translation.SECTION_1_SUBSECTION_2_TEXT%></p>
            </div>
        </article>

        <article>
            <div class="about_icon">
                <img src="/images/s3.png" alt="" title=""/>
            </div>
            <div class="about_info">
                <h3 class="about_title"><%=translation.SECTION_1_SUBSECTION_3_TITLE%></h3>
                <p class="about_desc"><%-translation.SECTION_1_SUBSECTION_3_TEXT%></p>
            </div>
        </article>
    </div>
</section>
<!--  end about  -->


<!--  start story  -->
<section class="story" id="story">
    <div class="wrapper clearfix">
        <h2 class="title"><%=translation.SECTION_2_TITLE%></h2>
        <p class="story_txt" style="margin-bottom: 0"><em><%=translation.SECTION_2_INTRO_QUOTE_TEXT%></em></p>
        <p class="story_txt" style="text-align: right; margin-top: 0; margin-bottom: 0"><%=translation.SECTION_2_INTRO_QUOTE_AUTHOR%></p>
        <p class="story_txt" style="margin-top: 0;"><br><%=translation.SECTION_2_INTRO_TEXT%></p>
        <div class="timeline">

            <div class="column">
                <div class="left_row first">
                    <img src="/images/timeline_circle.png" alt="" title="" class="bullet_point"/>
                    <h2><%=translation.SECTION_2_EVENT_5_DATE%></h2>
                    <p><%-translation.SECTION_2_EVENT_5_TEXT%></p>
                </div>
            </div>

            <div class="column">
                <div class="right_row">
                    <img src="/images/timeline_circle.png" alt="" title="" class="bullet_point"/>
                    <h2><%=translation.SECTION_2_EVENT_4_DATE%></h2>
                    <p><%=translation.SECTION_2_EVENT_4_TEXT%></p>
                </div>
            </div>

            <div class="column">
                <div class="left_row">
                    <img src="/images/timeline_circle.png" alt="" title="" class="bullet_point"/>
                    <h2><%=translation.SECTION_2_EVENT_3_DATE%></h2>
                    <p><%-translation.SECTION_2_EVENT_3_TEXT%></p>
                </div>
            </div>

            <div class="column">
                <div class="right_row">
                    <img src="/images/timeline_circle.png" alt="" title="" class="bullet_point"/>
                    <h2><%=translation.SECTION_2_EVENT_2_DATE%></h2>
                    <p><%-translation.SECTION_2_EVENT_2_TEXT%></p>
                </div>
            </div>

            <div class="column">
                <div class="left_row last">
                    <img src="/images/timeline_circle.png" alt="" title="" class="bullet_point"/>
                    <h2><%=translation.SECTION_2_EVENT_1_DATE%></h2>
                    <p><%=translation.SECTION_2_EVENT_1_TEXT%></p>
                </div>
            </div>
            <hr class="hseparator"/>
        </div><!--  end timeline  -->

    </div><!--  end wrapper  -->
</section>
<!--  end story  -->


<!--  start executives  -->
<section class="executives" id="executives">
    <div class="wrapper clearfix">
        <h2 class="title"><%=translation.SECTION_3_TITLE%><span>/  <%=translation.SECTION_3_SUBTITLE%></span></h2>
        <div class="executives_wrapper">
            <article>
                <h4 class="executive">Lorenzo De Bernardini</h4>
                <h6 class="role"><%=translation.ROLE_PRESIDENT%> / <%=translation.ROLE_FOUNDER%></h6>
<!--                <div class="photo">-->
<!--                    <span class="arrow"></span>-->
<!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
<!--                </div>-->
            </article>

            <article>
                <h4 class="executive">Anna Giulia Murgia</h4>
                <h6 class="role"><%=translation.ROLE_VICE_PRESIDENT%> - <%=translation.FIELD_FINANCIAL%></h6>
<!--                <div class="photo">-->
<!--                    <span class="arrow"></span>-->
<!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
<!--                </div>-->
            </article>

            <article>
                <h4 class="executive">Alessandro Davidoni</h4>
                <h6 class="role"><%=translation.ROLE_VICE_PRESIDENT%> - <%=translation.FIELD_OUTREACH%></h6>
<!--                <div class="photo">-->
<!--                    <span class="arrow"></span>-->
<!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
<!--                </div>-->
            </article>

            <article>
                <h4 class="executive">Alessandro Cattaneo</h4>
                <h6 class="role"><%=translation.ROLE_VICE_PRESIDENT%> - <%=translation.FIELD_INTERNAL%></h6>
<!--                <div class="photo">-->
<!--                    <span class="arrow"></span>-->
<!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
<!--                </div>-->
            </article>
        </div>
        <div class="executives_wrapper">
            <article>
                <h4 class="executive">Francesca Tamberi</h4>
                <h6 class="role"><%=translation.ROLE_EXECUTIVE%> - <%=translation.FIELD_LOGISTICS%></h6>
                <!--                <div class="photo">-->
                <!--                    <span class="arrow"></span>-->
                <!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
                <!--                </div>-->
            </article>

            <article>
                <h4 class="executive">Elisa Cirigliano</h4>
                <h6 class="role"><%=translation.ROLE_EXECUTIVE%> - <%=translation.FIELD_MARKETING%></h6>
                <!--                <div class="photo">-->
                <!--                    <span class="arrow"></span>-->
                <!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
                <!--                </div>-->
            </article>

            <article>
                <h4 class="executive">Andrea De Bernardini</h4>
                <h6 class="role"><%=translation.ROLE_EXECUTIVE%> - <%=translation.FIELD_MARKETING%></h6>
<!--                <div class="photo">-->
<!--                    <span class="arrow"></span>-->
<!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
<!--                </div>-->
            </article>

            <article>
                <h4 class="executive">Pietro Russolo</h4>
                <h6 class="role"><%=translation.ROLE_EXECUTIVE%> - <%=translation.FIELD_MARKETING%></h6>
                <!--                <div class="photo">-->
                <!--                    <span class="arrow"></span>-->
                <!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
                <!--                </div>-->
            </article>
        </div>
        <div class="executives_wrapper">
            <article>
                <h4 class="executive">Giulio Saibene</h4>
                <h6 class="role"><%=translation.ROLE_EXECUTIVE%> - <%=translation.FIELD_MARKETING%></h6>
                <!--                <div class="photo">-->
                <!--                    <span class="arrow"></span>-->
                <!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
                <!--                </div>-->
            </article>

            <article>
                <h4 class="executive">Isabel Ricotta</h4>
                <h6 class="role"><%=translation.ROLE_EXECUTIVE%> - <%=translation.FIELD_OUTREACH%></h6>
<!--                <div class="photo">-->
<!--                    <span class="arrow"></span>-->
<!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
<!--                </div>-->
            </article>

            <article>
                <h4 class="executive">Tommaso Castellanza</h4>
                <h6 class="role"><%=translation.ROLE_EXECUTIVE%> - <%=translation.FIELD_OUTREACH%></h6>
<!--                <div class="photo">-->
<!--                    <span class="arrow"></span>-->
<!--                    <img src="/images/itasa-logo-square.png" alt="" title="">-->
<!--                </div>-->
            </article>
        </div>
    </div>
</section>
<!--  end executives  -->

<!--  start alumni  -->
<section class="alumni" id="alumni">
    <div class="wrapper clearfix">
        <h2 class="title"><%=translation.SECTION_4_TITLE%><span>/  <%=translation.SECTION_4_SUBTITLE%></span></h2>
        <div class="alumni_wrapper">
            <h4 class="sub-title"><%=translation.SECTION_4_CLASS%> 2019</h4>
            <article>
                <h4 class="executive">Anna Lazzereschi</h4>
                <h6 class="role"><%=translation.ROLE_FORMER%> <%=translation.ROLE_PRESIDENT%> - <%=translation.FIELD_FINANCIAL%></h6>
                <h6 class="role" style="margin-top: 0.67em;">Founder</h6>
            </article>

            <article>
                <h4 class="executive">Giacomo Macchi</h4>
                <h6 class="role"><%=translation.ROLE_FORMER%> <%=translation.ROLE_VICE_PRESIDENT%> - <%=translation.FIELD_OUTREACH%></h6>
            </article>

            <article>
                <h4 class="executive">Allegra Passacantilli</h4>
                <h6 class="role"><%=translation.ROLE_FORMER%> <%=translation.ROLE_VICE_PRESIDENT%> - <%=translation.FIELD_MARKETING%></h6>
            </article>

            <article>
                <h4 class="executive">Benedetta Franzini</h4>
                <h6 class="role"><%=translation.ROLE_FORMER%> <%=translation.ROLE_VICE_PRESIDENT%> - <%=translation.FIELD_MARKETING%></h6>
            </article>
        </div>
    </div>
</section>
<!--  end alumni  -->


<!--  start partners  -->
<section class="partners clearfix" id="partners">
    <div class="wrapper clearfix">
        <h2 class="title"><%=translation.SECTION_5_TITLE%><span>/  <%=translation.SECTION_5_SUBTITLE%></span></h2>
        <div class="folio_wrapper">
            <ul class='slides clearfix'>
                <li>
                    <article>
                        <a href="https://consvancouver.esteri.it/consolato_vancouver/<%=translation.CURRENT_LANGUAGE%>/" target="_blank">
                            <div class="folio_img">
                                <img src="/images/logo-sponsor-consolato.png" alt="" title="">
                            </div>
                        </a>
                    </article>
                </li>

                <li>
                    <article>
                        <a href="http://www.iccbc.com/<%=translation.CURRENT_LANGUAGE%>/" target="_blank">
                            <div class="folio_img">
                                <img src="/images/logo-sponsor-iccbc.png" alt="" title="">
                            </div>
                        </a>
                    </article>
                </li>

                <li>
                    <article>
                        <a href="https://fhis.ubc.ca/undergraduate-italian-program/" target="_blank">
                            <div class="folio_img">
                                <img src="/images/logo-sponsor-fhis.png" alt="" title="">
                            </div>
                        </a>
                    </article>
                </li>

                <li>
                    <article>
                        <a href="https://italianculturalcentre.ca/" target="_blank">
                            <div class="folio_img">
                                <img src="/images/logo-sponsor-ilcentro.png" alt="" title="">
                            </div>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--  end partners  -->

<!--  start contact  -->
<section class="contact" id="contact">
    <img src="/images/email_icon.png" alt="" title=""/>
    <h2 class="title"><%=translation.SECTION_6_TITLE%></h2>
    <hr/>
    <a  href="mailto:itasaubc@gmail.com" class="email">itasaubc@gmail.com</a>
</section>
<!--  end contact  -->

<!--  start footer  -->
<footer>
    <div class="wrapper clearfix">
        <div class="copyrights">
            <p><%=translation.COPYRIGHT%></p>
        </div>

        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/itasaubc/" target="_blank">facebook</a></li>
                <li><a href="https://www.instagram.com/itasaubc/" target="_blank">instagram</a></li>
                <li><a href="https://www.linkedin.com/company/ams-italian-student-association/" target="_blank">linkedin</a></li>
            </ul>
        </div>
    </div>
</footer>
<!--  end footer  -->
